<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/commonCSS")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/commonJS")
</head>
<body>
   @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>