@model List<WXQuestionnaire.Model.Questionaire.QuestionaireVM>
@{
    ViewBag.Title = "问卷明细-列表";
    Layout = "~/Areas/Admin/Views/Shared/adminLayout.cshtml";
}

<div class="row">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>@ViewBag.QuestionaireType.ToString() (共 @Model.Count 份)
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                姓名
                            </th>
                            <th>
                                顾客类型
                            </th>
                            <th>
                                职位
                            </th>
                            <th>
                                创建时间
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.ActionLink(i.ToString(), "QueryDetailByQID", new { qid = item.ID })</td>
                                    <td>@item.Name</td>
                                    <td>@item.CustomerType</td>
                                    <td>@item.Position</td>
                                    <td>@item.QTime</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

