@model WXQuestionnaire.Model.Questionaire.QuestionaireStatVM
@{
    ViewBag.Title = "问卷明细-详情";
    Layout = "~/Areas/Admin/Views/Shared/adminLayout.cshtml";
}

<div class="row">
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>1. 课程反馈
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                课程实用
                            </th>
                            <th>
                                培训内容
                            </th>
                            <th>
                                培训方式
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.QuestionStats)
                            {
                                <tr>
                                    <td>
                                        @item.QuestionName
                                    </td>
                                    <td>
                                        @item.SubQ1Num
                                    </td>
                                    <td>
                                        @item.SubQ2Num
                                    </td>
                                    <td>
                                        @item.SubQ3Num
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>2. 讲师反馈
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                讲师能力
                            </th>
                            <th>
                                讲师授课
                            </th>
                            <th>
                                讲师互动
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.QuestionStats)
                            {
                                <tr>
                                    <td>
                                        @item.QuestionName
                                    </td>
                                    <td>
                                        @item.SubQ4Num
                                    </td>
                                    <td>
                                        @item.SubQ5Num
                                    </td>
                                    <td>
                                        @item.SubQ6Num
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>3. 项目组织安排
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                培训时间安排
                            </th>
                            <th>
                                现场布置安排
                            </th>
                            <th>
                                活动设置及组织效果
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            <tr>
                                <td>
                                    @Model.Q01Num
                                </td>
                                <td>
                                    @Model.Q02Num
                                </td>
                                <td>
                                    @Model.Q03Num
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



