<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/commonAdminCSS")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/commonAdminJS")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/metronicJS")
    @RenderSection("scripts", false)
</body>
</html>