@{
    ViewBag.Title = "Chartlet";
}

@section styles{
    <style type="text/css">
        .button[disabled] {
            background-color: #c9c9c9;
            color: white;
            border: none;
        }

        #imgContainer, #sendWord {
            border: 1px solid #0894ec;
            text-align: center;
        }

        #imgContainer {
            min-height: 150px;
        }

        #sendWord {
            margin-top: 15px;
            background-color: #efeff4;
            height: 88px;
        }

        #signName {
            width: 100%;
            height: 35px;
            border: 1px solid #0894ec;
            text-align: center;
             background-color: #efeff4;
        }

        #iconPic {
            font-size: 2.5rem;
            color: #0894ec;
            line-height: 150px;
        }

        .page1 .content {
            padding: 0 10px;
        }
    </style>
}

<div class="page page-current page1">
    <header class="bar bar-nav">
        <h1 class="title">玩趣</h1>
    </header>
    <div class="content">
        <h3 style="margin-bottom:5px">游戏说明：</h3>
        上传一张有关SU16的照片，写一段活动寄语，完成后点击确认分享到朋友圈
        <div style="margin:35px 20px;">
            <div id="imgContainer">
                <img id="imgSelect" src="" alt="" style="width:100%;height:auto;display:none;" />
                <span id="iconPic" class="icon icon-picture"></span>
            </div>
            <textarea id="sendWord" style="width:100%" placeholder="请输入寄语"></textarea>
            <input id="signName" type="text" value="" placeholder="请输入签名" />
        </div>
        <div class="content-block">
            <p><a id="btnSend" href="#" class="button button-big" disabled>确&nbsp;&nbsp;认</a></p>
        </div>
    </div>
</div>

@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        $.showPreloader("加载中...");
        $.init();

        wx.error(function (res) {
            console.log(res);
            $.hidePreloader();
            $.alert("微信配置失败");
        });

        wx.config({
            debug: @ViewBag.JsSdkConfig.Debug.ToString().ToLowerInvariant(),
            appId:'@ViewBag.JsSdkConfig.AppId',
            timestamp:'@ViewBag.JsSdkConfig.TimeStamp',
            nonceStr:'@ViewBag.JsSdkConfig.NonceStr',
            signature:'@ViewBag.JsSdkConfig.Signature',
            jsApiList:[@MvcHtmlString.Create(ViewBag.JsSdkConfig.JsApiList)]
        });
        var imgLocalId = null;
        wx.ready(function () {
            $.hidePreloader();
            $("#imgContainer").on('tap',function(){
                wx.chooseImage({
                    count: 1, // 默认9
                    sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                    success: function (res) {
                        var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                        var $imgShow = $('#imgSelect');
                        $imgShow.attr('src',localIds[0]);
                        var show =$imgShow.css('display');
                        if (show=='none') {
                            $('#iconPic').hide();
                            $imgShow.show();
                        }
                        resetBtnStatus();
                        imgLocalId = localIds[0];
                    }
                });
            });
        });

        function resetBtnStatus(){
            var img = $('#imgSelect').css('display') !== 'none';
            var txt = $('#sendWord').val().trim();
            var sign = $("#signName").val().trim();
            // alert('img:'+img+' txt:'+txt+' sign:'+sign);
            if (img && txt && sign) {
                $('#btnSend').removeAttr('disabled');
            }else{
                $('#btnSend').attr('disabled','true');
            }
        }
        
        // 奇怪，微信中按back键回退到该页面，keyup事件不会被绑定
        $("#sendWord").on('keyup',function(){
            resetBtnStatus();
        })
        $("#signName").on('keyup',function(){
            resetBtnStatus();
        })
        var inclick=false;
        $('#btnSend').on('tap', function () {
            // html2Canvas 在微信内置浏览器不行，操蛋了
            // QQ浏览器X5内核貌似是基于android 4.2的webkit, 版本号webkit 534, 参考网址：https://www.qianduan.net/qqliu-lan-qi-x5nei-he-wen-ti-hui-zong/
            // 2016-03-02
            if(inclick) return;
            inclick = true;
            var dis = this.getAttribute('disabled');
            if (dis !== null) {
                inclick = false;
                return;
            }

            $.showPreloader('生成图片中...');
            setTimeout(function(){
                inclick = false;
                // 上传到微信服务器
                wx.uploadImage({
                    localId: imgLocalId, // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 0, // 默认为1，显示进度提示
                    success: function (res) {
                        var serverId = res.serverId; // 返回图片的服务器端ID
                        $.ajax({
                            url:'@Url.Action("GenerateChartlet")',
                            dataType:'json',
                            data:{
                                serverID:serverId,
                                msg:$('#sendWord').val().trim(),
                                signName:$("#signName").val().trim(),
                            },
                            success:function(data){
                                if(data.ok){
                                    $.hidePreloader();
                                    location.href="/SC/PreDownloadChartlet?id="+data.id;
                                }else{
                                    $.hidePreloader();
                                    $.alert("生成图片失败");
                                }
                            },
                            error:function(){
                                $.hidePreloader();
                                $.alert("生成图片失败");
                            }
                        });
                    },
                    fail:function(){
                        $.hidePreloader();
                        $.alert("上传图片失败");
                    }
                });
            },150);
        });
    </script>
}